.flex_container {
	display: flex;
	flex-direction: row;
	align-items: center;

	&.top {
		background: lightgray;
		justify-content: space-between;
		color: black;

	}

	.logo {
		width: 20%;
		align-self: flex-start;
		border: solid blue 1px;
		display: flex;

		img {
			border: solid green 2px;
		}
		
		h2 {
			font-size: 20px;
			margin: 0;
			align-self: center;
		}
	}

	.nav {
		border: 1px solid yellowgreen;
		// width: 50%;
		// display: flex;
		// justify-content: center;
		// align-items: center;
		
	}

	.social {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1.3px solid blue;

		i {
			color: indigo;
		}

		img {
			width: 30px;
		}
	}

	&.stats {
		position: absolute;
		bottom: 0;
		width: 100%;
		
		div {
			
			width: 25%;
			background: rgba(43, 43, 43, 0.7);
			border-right: 0.5px grey solid;
			color: white;
			text-align: center;
			text-transform: capitalize;
			padding: 5vh 0;
			font-weight: 200;

			&:last-of-type {
				border-right: none;
			}

			span {
				display: block;
				color: rgb(255, 53, 104);
				font-weight: 700;
				font-size: 2rem;

			}
		}


	}


}